.container img{
    width: 100%;
    height: 80%;
    object-fit:contain;
    background-color: white;

}

.carousel-item img{
 height: 630px;
 width: 100%;

}
.carousel-item h5{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;

}
.carousel-item p{
    color: rgb(235, 49, 49);
    font-weight: 500;
    font-size: 1.2rem;
}

@media screen and (max-width:950px) {
    .container img{
        width: 100%;
        height: 70%;
        object-fit:cover;
        background-color: white;
    
    }
    
    .carousel-item img{
     height: 600px;
     width: 100%;
     margin: 0px auto;
    
    }
    .carousel-item h5{
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
    
    }
    .carousel-item p{
        color: rgb(235, 49, 49);
        font-weight: 500;
        font-size: 1rem;
    }
     
}
@media screen and (max-width:700px) {
    .container img{
        width: 100%;
        height: 60%;
        object-fit:contain;
        background-color: white;
    
    }
    
    .carousel-item img{
     height: 520px;
     width: 100%;
    
    
    }
    .carousel-item h5{
        color: white;
        font-weight: 500;
        font-size: 1rem;
    
    }
    .carousel-item p{
        color: rgb(235, 49, 49);
        font-weight: 500;
        font-size: 0.7rem;
    }
     
}
@media screen and (max-width:480px) {
    .container img{
        width: 100%;
        height: 48%;
        object-fit:contain;
        background-color: white;
    
    }
    
    .carousel-item img{
     height: 480px;
     width: 100%;
    
    
    }
    .carousel-item h5{
        color: white;
        font-weight: 500;
        font-size: 0.8rem;
    
    }
    .carousel-item p{
        color: rgb(235, 49, 49);
        font-weight: 500;
        font-size: 0.6rem;
    }
     
}

